<h1>Journey List</h1>
<% current_user.journeys.each do |journey| %>
    <ul class="large_list">
        <li>
          <%= link_to journey.formatted_timespan + ' Journey', data_select_journey_path(journey) %>
        </li>
    </ul>
<% end %>
