@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.9em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #202020;
}

.centered_area {
  width: 940px;
  display: inline-block;
  margin: 0 auto;
}
.left {
  float: left;
  display: inline-block;
  text-align: left;
}
.right {
  float: right;
  display: inline-block;
  text-align: right;
}

.info_block {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  color: #333333;
  background-color: #FAFAFA;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.large_list {
  list-style-type: none;
  margin: 10px 0 10px 30px;
  text-align: left;
  li {
    background: transparent url('/assets/large-chevron-bullet.png') no-repeat 0.05em 50%;
    line-height: 1.5em;
    padding-left: 2em;
    margin-bottom: 0.3em;
  }
}

#outer_wrapper {
  border-top: solid black 2px;
  background: white;
  header {
    display: inline-block;
    background: rgba(32, 32, 32, 0.7);
    height: 83px;
    width: 100%;
    z-index: 1000;
    position: relative;
  }
}

#logo {
  a {
    display: block;
    float: left;
    background: transparent url('/assets/thefloow-logo.png') no-repeat 50% 50%;
    text-indent: -40000px;
    width: 170px;
    height: 85px;
    margin-top: -2px;
  }
}

#top_level_menu {
  #menu {
    margin-top: -2px;
    float: right;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  li {
    display: block;
    float:left;
    a {
      &:hover {
        color: #7ab9d9;
        cursor: pointer;
        background: transparent url(//cdn-assets.thefloow.com/site/assets/top_menu_bg-c2ce72425e7539c01ee58fc69d3ccca4.png) no-repeat 0 0;
      }
      color: #fff;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 0.8em;
      text-shadow: 0 1px 1px #000;
      text-transform: uppercase;
      padding: 35px 2.25em 0 2.25em;
      height: 50px;
      display: block;
      letter-spacing: 1px;
    }
    &.selected a {
      background: transparent url(//cdn-assets.thefloow.com/site/assets/top_menu_bg-c2ce72425e7539c01ee58fc69d3ccca4.png) no-repeat 50% 0;
    }
  }
}

.container {
  background: white;
  width: 100%;
}

footer {
  padding: 30px 0;
  background: #202020;
  .copy {
    width: 960px;
    margin: 0 auto;
    font-size: 0.75em;
    text-align: center;
    line-height: 1.4em;
    color: #858585;
    span {
      color: #8b8b8b;
      display: inline-block;
    }
  }
  .left {
    width: 40%;
  }
  .right {
    width: 35%;
    padding-top: 10px;
  }
  .eu_charter {
    background: transparent url(//cdn-assets.thefloow.com/site/assets/footer_badge_EU_commission-549f72ebfeda84ff3916c75530c43430.jpg) no-repeat 0 0;
    padding: 10px 0 10px 90px;
    margin-bottom: 10px;
  }
  .rospa_member {
    background: transparent url(//cdn-assets.thefloow.com/site/assets/footer_badge_RoSPA_member-7da9be5887a24ae4596170ae84a92e39.jpg) no-repeat 0 0;
    padding: 10px 0 50px 60px;
  }
}