<footer>
    <div class="copy">

        <p class="left">
            <span class="eu_charter">
                The Floow is a signature of the
                <a href="http://www.erscharter.eu" target="_blank">European Road Safety Charter</a>
            </span>
            <span class="rospa_member">
                The Floow is a member of the
                <a href="http://www.rospa.com/" target="_blank">Royal Society for Prevention of Accidents</a>
            </span>

        </p>
        <p class="right">
            &copy; copyright 2012-2014 The Floow Limited - All rights reserved<br> Designed in Yorkshire
        </p>
    </div>
</footer>