<header>
    <div class="centered_area">
        <em id="logo">
            <%= link_to 'The Floow', '/' %>
        </em>
        <nav id="top_level_menu">
            <ul data-breakpoint="600" class="flexnav one-page">
                <nav class="menu clearfix" id="menu">
                  <%= render 'menu' %>
                </nav>
            </ul>
        </nav>
    </div>
</header>